<div class="row valign-wrapper center-align" style="margin: 100px 0;">
  <%= form_with url: sessions_path, class: 'col s12' do |f| %>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <%= f.text_field :username, placeholder: 'Username', class: 'validate' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <%= f.password_field :password, placeholder: 'Password', class: 'validate' %>
      </div>
    </div>
    <div class="row">
      <div>
        <input type="submit" value="Log In" class="waves-effect waves-light btn">
      </div>
    </div>
  <% end %>
</div>