<div class="row valign-wrapper center-align" style="margin: 100px 0;">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input placeholder="Username" id="username" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <input placeholder="Password" id="password" type="text" class="validate">
      </div>
    </div>
    <div class="row">
      <div>
        <input type="submit" class="waves-effect waves-light btn">
      </div>
    </div>
  </form>
</div>