<h1>Movies</h1>
<div data-controller="filter" id="rating_filter">
  <input type="text" placeholder="Search" data-action="keyup->filter#titleSearch" />
  <span data-target="filter.output"></span>
  <div data-action="click->filter#toggleG" data-target="filter.g" class="chip green lighten-2">G</div>
  <div data-action="click->filter#togglePG" data-target="filter.pg" class="chip green lighten-2">PG</div>
  <div data-action="click->filter#togglePG13" data-target="filter.pg13" class="chip green lighten-2">PG-13</div>
  <div data-action="click->filter#toggleR" data-target="filter.r" class="chip green lighten-2">R</div>
  <div data-action="click->filter#toggleUnrated" data-target="filter.unrated" class="chip green lighten-2">Unrated</div>
</div>
<% @movies.each do |m| %>
  <% cache m do %>
    <%= render 'movie', {m: m} %>
  <% end %>
<% end %>