@charset "UTF-8";

// Color
@import "components/color-variables";
@import "components/color-classes";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sidenav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/datepicker";
@import "components/timepicker";

body {
  background-color: whitesmoke;
}
#rating_filter {
  .chip {
    cursor: pointer;
  }
}

.strikethrough {
  text-decoration: line-through;
}

@media (min-device-width : 320px) {
  .showtimes {
    font-size: 2.5em;
    text-align: center;
  }

  .theater-showtimes {
    display: none;
  }

  .show-showtimes {
    padding: 80px 0;
    font-size: 4em;
    text-align: center;

    a {
      font-size: 0.65em;
    }
    i {
      font-size: 1em;
    }
  }
  .card.horizontal.hoverable {
    margin: 30px 0;
  }

  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 5em;
  }

  h3 {
    font-size: 3.5em;
  }

  h4 {
    font-size: 3.5em;
  }

  .top-poster {
    width: 100;
    text-align: center;
    padding-top: 30px;

    img {
      width: 50%;
    }
  }

  div.card-image > img.side-poster, div.title-rating {
    display: none;
  }

  p {
    font-size: 3.0em;
    padding-bottom: 50px;
  }

  span.badge {
    font-size: 3.0em;
    line-height: 60px;
    height: auto;
  }

  #rating_filter {
    margin-bottom: 20px;
    span, div {
      font-size: 3.75em
    }
    .chip {
      height: 62px;
      line-height: 62px;
    }
  }
}

@media (min-device-width : 375px) {
}

@media (min-device-width : 768px) {
}

@media (min-device-width : 1024px) {
  .showtimes {
    font-size: 1em;
  }
  .show-showtimes {
    padding: 20px 0;
    font-size: 1em;
    text-align: center;

    a {
      font-size: 1.2em;
    }
    i {
      font-size: 1.2em;
    }
  }
  .card.horizontal.hoverable {
    margin: 10px 0;
  }

  #rating_filter {
    span, div {
      font-size: 1.2em;
    }
    .chip {
      height: 32px;
      line-height: 32px;
    }
  }
  div.card-image > img.side-poster, div.title-rating {
    display: block;
  }
  .top-poster {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
    padding-bottom: 50px;
  }

  span.badge {
    font-size: 1em;
    line-height: 22px;
    height: 22;
  }
}